.CardContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    /* will be edited soon */
}

/* wil be deleted soon */
.CardContainer > *:not(:last-child) {
    margin-bottom: 2rem;
}


.Card {
    width: 900px;
    height: max-content;
    min-height: 250px;
    text-align: left !important;
}

.Card > div {
    padding: 36px 48px 42px 48px;
}

.Heading {
    text-align: left !important;
    margin-left: 1rem;
}
