.Button,
.Button:active,
.Button:visited {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50%);
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.Icon {
    color: rgb(49, 49, 49);
    font-size: 1.1rem;
}