.Card {
    position: relative;
    
    background: rgba(255,255,255,0.4);
    border: none;
    border-radius: 50px;

    height: max-content;
}

.Blur {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
    height: max-content;
    /* background: rgba(255,255,255,0.4); */
    background-color: #f2cc8f;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}
